*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
        background-color: black;
        color: white;
        font-family: 'Ysabeau', sans-serif;
}

.index-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

@keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
}
      
      .animate-fade-in {
        animation-name: fade-in;
        animation-duration: 3s;
        animation-fill-mode: both;
}

/* section{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 60%;
        left: 50%;
} */
.hide{
        display: none;
}
/* footer{
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
} */
@media screen and (max-width: 640px){
        footer{
                position: relative;
                transform: translate(0%, 0%);
                top: 0;
                left: 0;
        }
        section{
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0%, 0%);
        }
}